.generalInquiry,
.selectSubject {
  position: absolute;
  top: 0;
  line-height: 20px;
  display: inline-block;
  height: 20.37px;
}

.selectSubject {
  left: 0;
  font-size: var(--font-size-sm);
  font-weight: 600;
  width: 109px;
}

.generalInquiry {
  left: 23px;
  width: 92px;
}

.teenyiconstickCircleSolid {
  position: absolute;
  top: 4.07px;
  left: 0;
  width: 13px;
  height: 13.24px;
  overflow: hidden;
}

.generalInquiryContainer,
.generalInquiryGroup,
.generalInquiryParent,
.groupDiv {
  position: absolute;
  top: 34.63px;
  left: 0;
  width: 115px;
  height: 20.37px;
}

.generalInquiryContainer,
.generalInquiryGroup,
.groupDiv {
  left: 135px;
}

.generalInquiryContainer,
.groupDiv {
  left: 270px;
}

.groupDiv {
  left: 405px;
}

.selectSubjectParent {
  position: absolute;
  top: 260px;
  left: 551px;
  width: 520px;
  height: 55px;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-black);
  font-family: var(--subtitle-1-18);
}